@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: "Supermercado One", sans-serif;
  font-size: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 300px;
  width: 600px;
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quote-content h1{
  display: inline;
}

.quoteLeft {
  font-size: 2rem;
  margin-right: 1rem;
}
.quote-content{
  margin: 50px;
  text-align: center;

}
.quote-content h2{
  margin-top: 50px;
  text-align: end;
}

.quote-content h2::before{
  content: '-' ;
}


@media (max-width: 768px) {
  .App {
    font-size: 10px;
      transform: scale(0.5); /* Change scale for zoom effect */
  }
}

