@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: "Supermercado One", sans-serif;
  font-size: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 600px;
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.content h1{
  display: inline;
}

.quoteLeft {
  font-size: 2rem;
  margin-right: 1rem;
}
span{
  text-align: center;
}
.content{
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}
#author{
  margin-top: 50px;
  text-align: end;
  font-weight: lighter;
}

#author::before{
  content: '-' ;
}

#new-quote {
  font: inherit;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  align-items: 




}
#new-quote:hover{
  cursor: pointer;
}


@media (max-width: 768px) {
  .App {
    font-size: 10px;
      transform: scale(0.5); /* Change scale for zoom effect */
  }
}

